:root {
    --accent-color: #5bbbe7;
    --accent-shadow-color: #4996b9;
    --shadow-color: #e7e7e7;
}

body {
    margin: 0;
    background-color: #FFF;
    font-size: 1em;
    font-family: Tahoma, Arial, sans-serif;
}

/* Organization */
.panel-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.panel {
    height: 700px;
    border:none;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 0px var(--shadow-color);
}

.left_side {
    min-width: 600px;
    width: 70%;
    max-width: 1200px;
    margin: 10px;
}

.left_wrapper {
    min-width: 550px;
    width: 91.6%;
    max-width: 1150px;
    margin: 0 auto;
}

.right_side {
    width: 162px;
    margin: 10px;
}

.right_wrapper {
    width: 122px;
    margin: 20px 20px 10px 20px;
}

/* Text */
.title {
    display: block;
    width: 50%;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
}

.description {
    display: block;
    width: 50%;
    margin: 10px auto;
    padding: 4px;
    text-align: center;
}

/* Inputs */
input[type=text] {
    padding: 8px 12px;
    border-radius: 4px 4px 0 0;
    border: none;
    border-bottom: 2px solid var(--accent-color);
    box-sizing: border-box;
    box-shadow: 0px 0px 5px 0px var(--shadow-color);
}

input[type=text]:focus {
    background-color: #dddddd;
}

input[type=text]:focus {
    outline: 2px solid var(--accent-color);
}

.search-bar {
    width: 86%;
    margin-top: 25px;
    float: left;
}

/* Button */
button {
    /*width: 20%;*/
    padding: 8px 12px;
    border: none;
    border-bottom: 2px solid var(--accent-color);
    /*border-radius: 4px;*/
    background-color: var(--accent-color);
    box-shadow: 0px 0px 5px 0px var(--shadow-color);
    float: right;
    color: white;
    font-weight: bold;
    transition-duration: 0.2s;
}

button:hover {
    background-color: var(--accent-shadow-color);
}

button:active {
    transition-duration: 0s;
    filter: brightness(80%);
}

#add-book-btn {
    width: 12%;
    margin-top: 25px;
}

/* Add Book Form */
.form-popup {
    display: block;
}

.form-container {
    box-sizing: border-box;
    width: 100%;
    float: left;
}

.form-container input[type=text] {
    width: 20%;
    margin: 10px 10px 0 0;
}

.form-container button[type=submit] {
    width: 12%;
    margin: 10px 0 0 0;
}

.popup-hidden {
    display: none;
}

/* Content Table */
.content-table {
    border-collapse: collapse;
    font-size: 0.9em;
    /*box-shadow: 0px 0px 5px 0px var(--shadow-color);*/
    /*border-radius: 4px 4px 0 0;*/
    width: 100%;
    table-layout: fixed;
}

.table-scroll {
    box-sizing: border-box;
    margin: 25px 0;
    overflow: auto;
    min-width: 400px;
    width: 100%;
    height: 585px;
    float: left;
}

.table-scroll-short {
    height: 540px;
}

.content-table thead tr {
    background-color: var(--accent-color);
    color: white;
    text-align: left;
    font-weight: bold;
    top: 0;
    position: sticky;
    border-bottom: 4px solid var(--shadow-color);
}

.content-table th,
.content-table td {
    padding: 12px 15px;
    text-align: left;
}

.content-table td {
    max-width: 100px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
    transition-duration: 0.1s;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--accent-color);
}

.content-table tbody tr:hover {
    color: var(--accent-color);
}

.table-sortable th {
    cursor: pointer;
    transition-duration: 0.2s;
}

.table-sortable .th-sort-asc::after {
    content: "\25b4";
}

.table-sortable .th-sort-desc::after {
    content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
    margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
    background-color: var(--accent-shadow-color);
}

/* Reading Map */
.reading-table {
    border-collapse: collapse;
    font-size: 0.7em;
    text-align: center;
}

.reading-table thead th {
    background-color: var(--accent-color);
    color: white;
    padding: 4px 0;
}
.reading-table td {
    padding: 4px 2px 0 2px;
}

.reading-table td:first-of-type {
    padding: 4px 2px 0 0;
}

.reading-table td:last-of-type {
    padding: 4px 0 0 2px;
}

.reading-table td div {
    width: 14px;
    height: 14px;
    background-color: var(--shadow-color);
    border: none;
    position: relative;
}

.reading-table td div .tooltiptext {
    visibility: hidden;
    background-color: #666;
    color: white;
    text-align: center;
    padding: 6px 0;
    border-radius: 6px;
    font-size: 1em;

    width: 100px;

    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -50px;
    pointer-events: none;
}

.reading-table td div .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #666 transparent transparent transparent;
}

.reading-table td:hover .tooltiptext {
    visibility: visible;
}