:root {
    --accent-color: #5bbbe7;
    --shadow-color: #e7e7e7;
    --accent-shadow-color: #4996b9;
}

body {
    margin: 0;
    background-color: #FFF;
    font-size: 1em;
    font-family: Tahoma, Arial, sans-serif;
}

/* Organization */
.panel-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.panel {
    height: 600px;
    border:none;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 0px var(--shadow-color);
}

.left_side {
    min-width: 600px;
    width: 60%;
    max-width: 900px;
    margin: 10px;
}

.left_wrapper {
    min-width: 550px;
    width: 91.6%;
    max-width: 850px;
    margin: 0 auto;
}

.right_side {
    width: 300px;
    margin: 10px;
}

/* Text */
.title {
    display: block;
    width: 50%;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
}

.description {
    display: block;
    width: 50%;
    margin: 10px auto;
    padding: 4px;
    text-align: center;
}

/* Search Bar */
.search-bar {
    width: 100%;
    margin-top: 25px;
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 0px 5px 0px var(--shadow-color);
    float: left;
    box-sizing: border-box;
}

/* Button */
button {
    width: 20%;
    margin-top: 25px;
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    background-color: var(--accent-color);
    box-shadow: 0px 0px 5px 0px var(--shadow-color);
    float: right;
    color: white;
    font-weight: bold;
    transition-duration: 0.2s;
}

button:hover {
    background-color: var(--accent-shadow-color);
}

button:active {
    transition-duration: 0s;
    filter: brightness(80%);
}

/* Content Table */
.content-table {
    border-collapse: collapse;
    font-size: 0.9em;
    /*box-shadow: 0px 0px 5px 0px var(--shadow-color);*/
    /*border-radius: 4px 4px 0 0;*/
    width: 100%;
    table-layout: fixed;
}

.table-scroll {
    box-sizing: border-box;
    margin: 25px 0;
    overflow: auto;
    min-width: 400px;
    width: 100%;
    height: 475px;
    float: left;
}

.content-table thead tr {
    background-color: var(--accent-color);
    color: white;
    text-align: left;
    font-weight: bold;
    top: 0;
    position: sticky;
    border-bottom: 4px solid var(--shadow-color);
}

.content-table th,
.content-table td {
    padding: 12px 15px;
    text-align: left;
}

.content-table td {
    max-width: 100px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
    transition-duration: 0.1s;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--accent-color);
}

.content-table tbody tr:hover {
    color: var(--accent-color);
}

.table-sortable th {
    cursor: pointer;
    transition-duration: 0.2s;
}

.table-sortable .th-sort-asc::after {
    content: "\25b4";
}

.table-sortable .th-sort-desc::after {
    content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
    margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
    background-color: var(--accent-shadow-color);
}

/* Add Book Form */
.form-popup {
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}

.form-container {
    width: 600px;
    height: 450px;
    background-color: white;
    border-radius: 4px;
    padding: 12px 15px;
    box-shadow: 0px 0px 5px 0px var(--shadow-color);
}

.form-container label {
    float: left;
}

.form-container .close {
    position: fixed;
    top: 20px;
    right: 15px;
    z-index: 10;
}

.form-container input[type=text] {
    box-sizing: border-box;
    width: 100%;
    padding: 8px 12px;
    margin: 5px 0 15px 0;
    border-radius: 4px;
    border: none;
    box-shadow: inset 0px 0px 5px 0px var(--shadow-color);
    float: left;
}

.form-container input[type=text]:focus {
    background-color: #dddddd;
}

input[type=text]:focus {
    outline: 2px solid var(--accent-color);
}