.form-container {
    width: 100%;
    font-size: 0.9em;
    min-height: 0px;

    display: grid;
    grid-template-columns: auto 4fr auto 2fr;
    grid-template-rows: auto;
    gap: 30px 16px;
    align-items: start;
}

.full-width {
    grid-column: 1 / 5;
}

.form-section {
    display: flex;
    flex-flow: column nowrap;
}

.hidden {
    visibility: collapse;
}

.tags-input {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 8px 12px;
    background-color: white;
    border: 1px solid #ccc;
    border-bottom: 2px solid var(--accent-color);
    box-shadow: 0px 0px 5px 0px var(--shadow-color);
}

.tags-input ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tags-input li {
    display: inline-block;
    background-color: #f2f2f2;
    color: #333;
    /*border-radius: 20px;*/
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.tags-input li.is-new {
    /*background-color: #bdeec4;*/
    position: relative;
}

.tags-input li.is-new::after {
    content: "New";
    position : absolute;
    top: 0px;
    left: -5px;
    font-size: 0.8em;
    Color: green;
    transform: rotateY(0deg) rotate(-45deg);
}

.tags-input input[type=text] {
    box-sizing: border-box;
    width: 100%;
    border: none;
    outline: none;
    padding: 5px;
    background-color: none;
    box-shadow: none;
}

.tags-input .delete-button {
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 0px;
    margin: 0px;
    color: #999;
    cursor: pointer;
    margin-left: 5px;
    font-size: 1em;
}

.tags-input .delete-button:after {
    content: "\26CC";
}

.new-tags {
    padding: 8px 4px;
    margin-top: 8px;
}

.name-input-row {
    box-sizing: border-box;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    grid-template-rows: auto 1fr;
    grid-gap: 2px 8px;
    align-items: center;
    margin-top: 5px;
}

.name-input-row label {
    font-size: smaller;
}

.name-input-row input {
    min-width: 0px;
}

.name-input-row .delete-button {
    padding: 2px 12px;
}

.name-input-row .delete-button:after {
    content: "\26CC";
}

.alert-text {
    font-size: smaller;
    color: black;
    background-color: pink;
    border: 1px solid red;
    opacity: 0.5;
    padding: 4px 8px;
    margin-top: 8px;
    margin-bottom: 5px;
}

.alert-text:empty {
    display: none;
}