/* Reading Map */
.reading-table {
    border-collapse: collapse;
    font-size: 0.7em;
    text-align: center;
}

.reading-table thead th {
    background-color: var(--accent-color);
    color: white;
    padding: 4px 0;
}
.reading-table td {
    padding: 4px 2px 0 2px;
}

.reading-table td:first-of-type {
    padding: 4px 2px 0 0;
}

.reading-table td:last-of-type {
    padding: 4px 0 0 2px;
}

.reading-table td div {
    width: 14px;
    height: 14px;
    background-color: var(--shadow-color);
    border: none;
    position: relative;
}

.reading-table td div .tooltiptext {
    visibility: hidden;
    background-color: #666;
    color: white;
    text-align: center;
    padding: 6px 0;
    border-radius: 6px;
    font-size: 1em;

    width: 100px;

    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -50px;
    pointer-events: none;
}

.reading-table td div .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #666 transparent transparent transparent;
}

.reading-table td:hover .tooltiptext {
    visibility: visible;
}